<% include ./../header.ejs %>

<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Type</th>
        <th>Titre</th>
        <th>Année de parution</th>
        <th>Url</th>
        <th>Tools</th>
      </tr>
    </thead>
    <tbody>

    <% if(typeof item !== 'undefined'){ %>
      <tr>
        <td><%= item.type %></td>
        <td><%= item.title %></td>
        <td><%= item.year %></td>
        <td>
          <a hre="<%= item.url %>"><%= item.url %></a>
        </td>
        <td>
          <a href="http://localhost:3000/library/delete/<%= item._id %>" style="text-decoration:none !important">
             <i class="fas fa-times"></i></a>
        </td>
       </tr>

    <% } %>
    </tbody>
  </table>
</div>

    <form action="/library/update/<%= id %>" method="post"><br>
        <label for="type">Enter Type: </label><br>
        <input id="type" type="text" name="type" value="<%= item.type %>"><br>

        <label for="title">Enter title: </label><br>
        <input id="title" type="text" name="title" value="<%= item.title %>"><br>

        <label for="pages_start">Enter page début: </label><br>
        <input id="pages_start" type="text" name="pages_start" value="<%= item.pages["start"] %>"><br>

        <label for="pages_end">Enter page fin: </label><br>
        <input id="pages_end" type="text" name="pages_end" value="<%= item.pages["end"] %>"><br>

        <label for="year">Enter year: </label><br>
        <input id="year" type="text" name="year" value="<%= item.year %>"><br>

        <label for="url">Enter url: </label><br>
        <input id="url" type="text" name="url" value="<%= item.url %>"><br>

        <!-- @todo Formulaire des auteurs -->

        <br>
        <input type="submit" value="OK">
    </form>

<% include ./../footer.ejs %>


